<!DOCTYPE html>
    <html>
        <head>
            <script src = 'http://localhost:3000/js/script.js' defer></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>
        <!--This html page is used by both the lab technician and student to view the reservation list of lab 1. Incomplete-->

        {{#if student}}
            {{> navBar login=true}}
        {{else if labTech}}
            {{> labTechNavBar login=true}}
        {{/if}}
        <body>
            <br><br><br>
            <div id = "SeatList">
                <table id = "reserveTable" class = "resizeSlightlySmaller">
            <tr>
                <th>Name</th>
                <th>Seat Number</th>
                <th>Time Reserved</th>
                <th>Date Reserved</th>
            </tr>
                {{#each reservations}}
                    <tr>
                        <div class="reservations">
                        
                        <td><div class="name"><strong>{{name}}</strong></div></td>
                        <td><div class="seatNum"><strong>{{seatNum}}</strong></div></td>
                        <td><div class="timeReserve"><strong>{{timeReserved}}</strong></div></td>
                        <td><div class="dateReserved"><strong>{{dateReserved}}</strong></div></td>
                        </div>
                    <tr>
                {{/each}}
            </table>
            </div>
        </body>
    </html>
</DOCTYPE>