<html>
    <!--This html page is the profile page of students-->
    <title>Profile</title>

    <head>
        <script src="jquery-3.7.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/template.css">
    </head>

    {{> navBar login=true}}
    <body>
        <h1><b>Profile</b></h1>

        <div>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id="profilePic" onClick="ChangePic()"><br>
        </div>

        <fieldset>
            <form id ="profileForm" class="resizeSlightlySmaller" action="/updateAndDelete" method="post">
                <div id="profile">
                    <br>Name: <input type="text" id="profileName" class="resizeSlightlySmaller" value="{{firstName}} {{lastName}}" name = "name"> <button type="button" id="editName" class="resizeSlightlySmaller" onClick="EditName()">Edit</button><br>
                </div>

                <div id="bday">
                    <br>Birthday:  <input type="date" id="profileBday" class="resizeSlightlySmaller" value="{{dateOfBirth}}" name = "dateOfBirth"> <button type="button" id="editDob" class="resizeSlightlySmaller" onClick="EditDob()">Edit</button><br>
                </div>

                <div id="uName">
                    <br> UserName: <input type="text" id="profileUname" class="resizeSlightlySmaller" value="{{userName}}" name = "userName"> <button type="button" id="editUserName" class="resizeSlightlySmaller" onClick="EditUserName()">Edit</button><br>
                </div>

                <div id="password">
                    <br> Password: <input type="text" id="profilePassword" class="resizeSlightlySmaller" value="{{password}}" name = "password"> <button type="button" id="editPassword" class="resizeSlightlySmaller" onClick="EditPassword()">Edit</button><br>
                </div>

                <table id="reserveTable" class="resizeSlightlySmaller">
                    <tr>
                        <th>Lab Number</th>
                        <th>Number Reserved</th>
                        <th>Date to be Reserved</th>
                    </tr>
                </table>
                
                <input type="hidden" id="deleteInfo" name = "delete"/>
                <input type="hidden" id="updateInfo" name = "update"/>
                <br><button type="submit" id="updateProfile" class="resizeSlightlySmaller" onClick="Update()">Update Profile</button><br>
                <br><button type="submit" id="deleteProfile" class="resizeSlightlySmaller" onClick="Delete()">Delete Profile</button><br>
            </form>
        </fieldset>
    
        <script>
            const btnEditName = document.getElementById("profile");
            const btnEditBday = document.getElementById("bday");
            const btnEditUname = document.getElementById("uName");
            const btnEditPassword = document.getElementById("password");
            var newName, newDob, newUserName, newPassword;
            document.getElementById("profileName").readOnly=true;
            document.getElementById("profileBday").readOnly=true;
            document.getElementById("profileUname").readOnly=true;
            document.getElementById("profilePassword").readOnly=true;
            const lab = [2,1,2,3,1];
            const numberOfReserve = [4,2,3,2,9];
            const date = ["12/11/23", "12/10/23", "11/20/23", "10/10/23", "09/10/23"];

            for (var i=0; i < 5; i++) {
                $("#reserveTable").append("<tr><td>"+lab[i]+"</td><td>"+numberOfReserve[i]+"</td><td>"+date[i]+"</td>");
            }

            function ChangePic() {

            }

            function EditName() {//Edit button to disable read only
		var currentName = $("#profileName").val();
		const divName = $("<div id='profile'></div>");
		const edit = $("<br>Name: <input type='text' id='profileName' class='resizeSlightlySmaller'> <button type='button' id='enterName' class='resizeSlightlySmaller' onClick='enterNewName()'>Enter</button><br>");
                $("#profileName").attr("readOnly", false);
                $(divName).append(edit);
		$("#profile").replaceWith(divName);
		$("#profileName").val(currentName);
            }

            function enterNewName() {//Enter new name and save it
		const divName = $("<div id='profile'></div>");
		const enter = $("<br>Name:  <input type='text' id='profileName' class='resizeSlightlySmaller'> <button type='button' id='editName' class='resizeSlightlySmaller' onClick='EditName()'>Edit</button><br>");
                var newName = $("#profileName").val();
		var newDob = $("#profileBday").val();
		var newUserName = $("#profileUname").val();
		var newPassword = $("#profilePassword").val();
                console.log("new name = ", newName);
		$(divName).append(enter);
		$("#profile").replaceWith(divName);
		$("#profileName").val(newName);
		$("#profileName").attr("readOnly", true);
                const currentUserProfileName = JSON.stringify(newName);//Stringify to transfer JSON objects into local storage
                localStorage.setItem('currentUserProfileName', currentUserProfileName);//Transfer to local storage
                console.log(currentUserProfileName);
                
                updateUser(newName, newDob ,newUserName, newPassword);
            }

            function EditDob() {//Edit button to disable read only
		var currentBday = $("#profileBday").val();
		const divBday = $("<div id='bday'></div>");
		const edit = $("<br>Birthday: <input type='date' id='profileBday' class='resizeSlightlySmaller'> <button type='button' id='enterDob' class='resizeSlightlySmaller' onClick='enterNewDob()'>Enter</button><br>");
		$("#profileBday").attr("readOnly", false);
		$(divBday).append(edit);
		$("#bday").replaceWith(divBday);
		$("#profileBday").val(currentBday);
                
            }

            function enterNewDob() {//Enter new birthday and save it
                var newName = $("#profileName").val();
		var newDob = $("#profileBday").val();
		var newUserName = $("#profileUname").val();
		var newPassword = $("#profilePassword").val();
		const divBday = $("<div id='bday'></div>");
		const enter = $("<br>Birthday: <input type='date' id = 'profileBday' class = 'resizeSlightlySmaller'> <button type = 'button' id = 'editDob' class = 'resizeSlightlySmaller' onClick = 'EditDob()'>Edit</button><br>");
                console.log(newDob);
                $(divBday).append(enter);
		$("#bday").replaceWith(divBday);
		$("#profileBday").val(newDob);
		$("#profileBday").attr("readOnly", true);
                const currentUserBirthday = JSON.stringify(newDob);//Stringify to transfer JSON objects into local storage
                localStorage.setItem('currentUserBirthday', currentUserBirthday);//Transfer to local storage
                console.log(currentUserBirthday);

                updateUser(newName, newDob ,newUserName, newPassword);
            }

            function EditUserName() {//Edit button to disable read only
		var currentUserName = $("#profileUname").val();
		const divUserName = $("<div id='uName'></div>");
		const edit = $("<br>Username: <input type='text' id='profileUname' class = 'resizeSlightlySmaller'> <button type='button' id='enterUserName' class = 'resizeSlightlySmaller' onClick = 'enterNewUserName()'>Enter</button><br>");
		$("#profileUname").attr("readOnly", false);
		$(divUserName).append(edit);
		$("#uName").replaceWith(divUserName);
		$("#profileUname").val(currentUserName);
	   }

            function enterNewUserName() {//Enter new username and save it
		var newName = $("#profileName").val();
		var newDob = $("#profileBday").val();
		var newUserName = $("#profileUname").val();
		var newPassword = $("#profilePassword").val();
		const divUserName = $("<div id='uName'></div>");
		const enter = $("<br>Username: <input type = 'text' id = 'profileUname' class = 'resizeSlightlySmaller'> <button type = 'button' id = 'editUname' class = 'resizeSlightlySmaller' onClick = 'EditUserName()'>Edit</button><br>");
                console.log(newUserName);
                $(divUserName).append(enter);
		$("#uName").replaceWith(divUserName);
		$("#profileUname").val(newUserName);
		$("#profileUname").attr("readOnly", true);
                const currentUserUserName = JSON.stringify(newUserName);//Stringify to transfer JSON objects into local storage
                localStorage.setItem('currentUserUserName', currentUserUserName);//Transfer to local storage
                console.log(currentUserUserName);

                updateUser(newName, newDob ,newUserName, newPassword);
            }

            function EditPassword() {//Edit button to disable read only
		var currentPassword = $("#profilePassword").val();
		const divPassword = $("<div id = 'password'></div>");
		const edit = $("<br>Password: <input type='password' id = 'profilePassword' class = 'resizeSlightlySmaller'> <button type = 'button' id = 'enterPassword' class = 'resizeSlightlySmaller' onClick = 'enterNewPassword()'>Enter</button><br>");
                $("#profilePassword").attr("readOnly", false);
		$(divPassword).append(edit);
		$("#password").replaceWith(divPassword);
		$("#profilePassword").val(currentPassword);
            }

            function enterNewPassword() {//Enter new password and save it
                var newName = $("#profileName").val();
		var newDob = $("#profileBday").val();
		var newUserName = $("#profileUname").val();
		var newPassword = $("#profilePassword").val();
		const divPassword = $("<div id = 'password'></div>");
		const enter = $("<br>Password: <input type = 'password' id = 'profilePassword' class = 'resizeSlightlySmaller'> <button type = 'button' id = 'editPassword' class = 'resizeSlightlySmaller' onClick = 'EditPassword()'>Edit</button><br>");
                console.log(newPassword);
		$(divPassword).append(enter);
		$("#password").replaceWith(divPassword);
		$("#profilePassword").val(newPassword);
		$("#profilePassword").attr("readOnly", true);
                const currentUserPassword = JSON.stringify(newPassword);//Stringify to transfer JSON objects into local storage
                localStorage.setItem('currentUserPassword', currentUserPassword);//Transfer to local storage
                console.log(currentUserPassword);

                updateUser(newName, newDob ,newUserName, newPassword);
            }

            function Update() {
                $("#updateInfo").val("update");
                $("#deleteInfo").val("");
            }

            function Delete() {
                $("#deleteInfo").val("delete");
                $("#updateInfo").val("");
            }
        </script>
    </body>
</html>
