<DOCTYPE!>
    <!--This html page is for both the lab technician and student to view their slots-->
    <html>
        <title>Slot Delete</title>

        <head>
            <script src = 'http://localhost:3000/js/script.js' defer></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{> labTechNavBar login=true}}
        <body>
            <br><br><br><div id = "SeatList">
            <div id = "SeatList">
                <table id = "reserveTable" class = "resizeSlightlySmaller">
                    <tr>
                        <th>Reservation Number</th>
                        <th>Name</th>
                        <th>Seat Number</th>
                        <th>Time Reserved</th>
                        <th>Date Reserved</th>
                        <th>Lab Number</th>
                        {{!-- <th>    </th> --}}
                    </tr> 
                    
                    <fieldset>
                        {{#each labReservations}}
                            <form id ="{{@index}}" class="resizeSlightlySmaller" action="/delete" method="post">
                                <tr>
                                    <div class="reservations">
                                        <td><div class="reservationNumber"><strong>{{reservationNumber}}</strong></div></td>
                                        <td><div class="name"><strong>{{name}}</strong></div></td>
                                        <td><div class="seatNum"><strong>{{seatNum}}</strong></div></td>
                                        <td><div class="timeReserved"><strong>{{timeReserved}}</strong></div></td>
                                        <td><div class="dateReserved"><strong>{{dateReserved}}</strong></div></td>
                                        <td><div class="labNumber"><strong>{{labNumber}}</strong></div></td>
                                        <input type="hidden" id="reservationNumber" class="resizeSlightlySmaller" value="{{reservationNumber}}" name = "reservationNumber" readonly>
                                        <input type="hidden" id="name" class="resizeSlightlySmaller" value="{{name}}" name = "name" readonly>
                                        <input type="hidden" id="seatNum" class="resizeSlightlySmaller" value="{{seatNum}}" name = "seatNum" readonly>
                                        <input type="hidden" id="timeReserved" class="resizeSlightlySmaller" value="{{timeReserved}}" name = "timeReserved" readonly>
                                        <input type="hidden" id="dateReserved" class="resizeSlightlySmaller" value="{{dateReserved}}" name = "dateReserved" readonly>
                                        <input type="hidden" id="labNumber" class="resizeSlightlySmaller" value="{{labNumber}}" name = "labNumber" readonly>
                                        <td><button type="submit" form="{{@index}}" id="deleteSlot" class="resizeSlightlySmaller">delete</button></td>
                                    </div>      
                                </tr> 
                            </form>
                        {{/each}}
                    {{error}}
                    </fieldset>
                </table>
            </div>
        </body>
    </html>
</DOCTYPE>
