<DOCTYPE!>
    <!--This html page is for both the lab technician and student to view their slots-->
    <html>
        <title>Slot View</title>

        <head>
            <script src = '/js/script.js' defer></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{#if student}}
            {{> navBar login=true}}
        {{else if labTech}}
            {{> labTechNavBar login=true}}
        {{/if}}
        <body>
            <br><br><br><div id = "SeatList">
            <div id = "SeatList">
                <table id = "reserveTable" class = "resizeSlightlySmaller">
            <tr>
                <th>Username</th>
                <th>Reservation Number</th>
                <th>Seat Number</th>
                <th>Initial Time Reserved</th>
                <th>Final Time Reserved</th>
                <th>Date Reserved</th>
                <th>Lab Number</th>
            </tr>
                {{#each labReservations}}
                    <tr>
                        <div class="reservations">
                        
                        <td><div class="userName"><strong>{{name}}</strong></div></td>
                        <td><div class="reservationNumber"><strong>{{reservationNumber}}</strong></div></td>
                        <td><div class="seatNum"><strong>{{seatNum}}</strong></div></td>
                        <td><div class="timeReserved"><strong>{{timeReserved}}</strong></div></td>
                        <td><input type="text" id="finalTimeReserved" class="resizeSlightlySmaller" value="{{finalTimeReserved}}" name = "finalTimeReserved"></td>
                        <td><div class="dateReserved"><strong>{{dateReserved}}</strong></div></td>
                        <td><div class="labNumber"><strong>{{labNumber}}</strong></div></td>
                        
                        </div>
                    <tr>
                </div>
                {{/each}}
            </table>
        </body>
    </html>
</DOCTYPE>
