<html>
    <!--This html page is the profile page of students-->
    <title>Profile</title>

    <head>
        <script src = '/js/script.js' defer></script>
        <link rel="stylesheet" href="../css/template.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>

    {{#if student}}
        {{> navBar login=true}}
    {{else if labTech}}
        {{> labTechNavBar login=true}}
    {{/if}}
    <body>

        <div class="profMain">
            <h1><b>Profile</b></h1>
            <div class="profDiv">
                <div class="profImg">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id="profilePic" onClick="ChangePic()"><br>
                </div>
                <div class="profInfo">
                    <form id="profileForm" action="/updateAndDelete" method="post">
                        <input type="hidden" id="firstName" name = "firstName" value="{{firstName}}"/>
                        <input type="hidden" id="lastName" name = "lastName" value="{{lastName}}"/>
                        <div id="profile">
                            <br>Name: <input type="text" id="profileName" class="resizeSlightlySmaller" value="{{firstName}} {{lastName}}" name = "name">
                        </div>

                        <div id="bday">
                            <br>Birthday:  <input type="date" id="profileBday" class="resizeSlightlySmaller" value="{{dateOfBirth}}" name = "dateOfBirth">
                        </div>

                        <div id="uName">
                            <br> Username: <input type="text" id="profileUname" class="resizeSlightlySmaller" value="{{userName}}" name = "userName">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
