<div id="stickyBar">
            <h2>{{title}}</h2>
            <a href={{home}}>Home</a>
            <a href={{reservation}}>Reserve</a>
            <a href={{search}}>Search</a>
            <a href={{profile}}>Profile</a>
            <a href={{main}}>Logout</a>
        </div>