<DOCTYPE!>
    <!--This html page is for both the lab technician and student to view their slots-->
    <html>
        <title>Slot Edit</title>

        <head>
            <script src = 'http://localhost:3000/js/script.js' defer></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{#if student}}
            {{> navBar login=true}}
        {{else if labTech}}
            {{> labTechNavBar login=true}}
        {{/if}}
        <body>
            <br><br><br><div id = "SeatList">
            <div id = "SeatList">
                <table id = "reserveTable" class = "resizeSlightlySmaller">
                    <tr>
                        <th>Username</th>
                        <th>Seat Number</th>
                        <th>Time Reserved</th>
                        <th>Date Reserved</th>
                    </tr> 
                    
                    <fieldset>
                        {{#each labReservations}}
                            <form id ="{{@index}}" class="resizeSlightlySmaller" action="/edit" method="post">
                                <tr>
                                    <div class="reservations">
                                        <input type="hidden" id="reservationNumber" name = "reservationNumber" value="{{reservationNumber}}"/>
                                        <td><input type="text" id="name" class="resizeSlightlySmaller" value="{{name}}" name = "name" readonly></td>
                                        <td><input type="text" id="seatNum" class="resizeSlightlySmaller" value="{{seatNum}}" name = "seatNum"></td>
                                        <td><input type="text" id="timeReserved" class="resizeSlightlySmaller" value="{{timeReserved}}" name = "timeReserved"></td>
                                        <td><input type="text" id="dateReserved" class="resizeSlightlySmaller" value="{{dateReserved}}" name = "dateReserved"></td>
                                        <td><button type="submit" form="{{@index}}" id="editSlot" class="resizeSlightlySmaller">submit edit</button></td><input type="hidden" id="labNumber" name = "labNumber" value="{{labNumber}}"/>
                                    </div>
                                </tr> 
                            </form>
                        {{/each}}
                    </fieldset>
                </table>
            </div>
        </body>
    </html>
</DOCTYPE>
